.col-20
    = link_to "Settings", edit_user_registration_path, class: 'db-button'
    / = link_to 'Subscriptions', '/dashboard/subscriptions', class: 'db-button'
    = link_to 'Manage Prints', '/dashboard/manage', class: 'db-button'