/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import 'vars';

$margin-width: 1000px;
$footer-height: 100px;
$side-padding: 20px;

.left     { float: left;  }
.right    { float: right; }
.clear    { clear: both;  }
.none     { clear: none;  }

.bordered { border: 1px solid LightGray; }
.rounded  { border-radius: $rounding; }

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

a {
    color: #095296;
    text-decoration: none;
}

body {
    background-color: #FDFEFA;
}

div {
    box-sizing: border-box;
}

.upload {
    position: relative;
    left: 20px; top: 2px;
    outline: none;
}
.upload::-webkit-file-upload-button { visibility: hidden; }
.upload::before {
    position: relative;
    right: 20px; bottom: 2px;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999; border-radius: $rounding;
    padding: 6px; font-size: 10pt;
}
.upload:hover::before { border-color: #555; }
.upload:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

* {
    font-family: "Arial", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#notice { color: gray; }
#alert  { color: orange; }


// sticky footer
/*
html, body {
    height: 100%;
}
*/

#sans-footer {
    min-height: 100%;
}

#content {
    padding-bottom: $footer-height;
}

footer {
    clear: both;
    position: relative;

    padding: 2 * $side-padding $side-padding;
    width: $margin-width - 2 * $side-padding;
    background: $tertiary-color;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;

    li { 
        display: inline; 
        margin: 10px;
    }
}
////////////////

body {
    width: $margin-width;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 90px;
}

#logo {
    text-decoration: none;
    float: left;
    height: 90px;
}

#search {
    float: left;
    margin: 20px 0px 0px 30px;
    font-size: 19px;
    padding: 5px;
    width: 400px;
    border: 1px solid black;
}

.right {
    text-align: right;
}

.button {
    @include transition(background);
    text-decoration: none;
    float: left;
    padding: 7px 10px;
    color: $primary-color;
    background: $secondary-color;
}
.button:hover {
    background: $secondary-color;
}

.pill {
    border: 1px solid $tertiary-color;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    display: inline-block;
    background-color: #DCDCDA;
}

.comment-wrapper {
    margin: 10px 0;
}

#comment {
    width: 100%;
    padding: 10px;
}

.print-button {
    height: 40px;
    width: 179px;
    display: inline-block;
    background-image: url('/assets/print_button.png');
    margin-top: 10px;
}

.selected {
    color: $primary-color;
    pointer-events: none;
    cursor: default;
}

.box {
    border: 1px solid $primary-color;
    padding: $side-padding;
    position: relative;
}

.box-wrapper {
    h2 {
        font-size: 14px;
        margin-left: $side-padding;
    }
    clear: both;
}

.print-wrapper {
    width: 33.3333%;
    position: relative;
    float: left;
    padding: 10px;
    height: 240px;
    overflow: hidden;

    .thumbnail {
        object-fit: cover;
        width: 100%;
        height: 120px;
    }
}

.print-wrapper p {
    font-size: 12px !important;
    color: $light-text;
    margin-top: 10px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    float: left;
    margin-right: $side-padding;
    object-fit: cover;
}

.profile-wrapper {
    position: relative;
    .thumbnail {
        object-fit: cover;
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }
    a {
    }
    p {
        font-size: 12px !important;
        margin-top: 10px;
        color: $light-text;
    }
}

.large-image {
    object-fit: cover;
    width: 100%;
    height: 320px;
}

.col-80 {
    padding: $side-padding;
    width: 80%;
    float: left;
    position: relative;

}

.col-20 {
    padding: $side-padding;
    width: 20%;
    float: left;
}

.col-70 {
    padding: $side-padding;
    width: 70%;
    float: left;
    position: relative;

}

.col-30 {
    padding: $side-padding;
    width: 30%;
    float: left;
}

.right {
    float: right;
}

#login {
    float: right;
    position: relative;
    top: 20px;
    overflow: hidden;
    border: 1px solid black;
    background-color: $primary-color;

    .button:not(:first-child) {
        margin-left: 1px;
    }
}

#copyright, #privacy, #terms, #contact {
    clear: both;
    color: $primary-color;
    margin-top: 10px;
    font-size: 12px;
    margin-top: 5px;
}

#social-buttons {
    clear: both;
    float: right;
    margin-top: 35px;
}
.social {
    width: 24px;
    margin-left: 5px;
}

.galleria{ 
    width: 100%; 
    height: 400px; 
    background: #000
}

.galleria-info-link {
    display: none
}

.submit {
    text-decoration: none;
    margin-right: 10px;
}

.x {
    position: absolute;
    top: 10px;
    right: 10px;
}

.galleria-errors {
    display: none;
}

.margin-right {
    margin-right: 10px;
}