.profile_banner {
  @include fullbg;
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.profile_title {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 800;
}

.profile_meta {
  color: $grey-color;
}

.profile_btn {
  @extend .uk-button;

  padding: 10px 35px !important;
  font-size: 16px;
}

.profile_section {
  margin: 25px 0;

  h3 {
    margin-bottom: 0;
  }

  h3 + p {
    margin-top: 0;
  }
}

.profile_comments {
  li {
    border-bottom: 1px solid $grey-color-light;
    padding: 15px 0;

    &:last-child {
      border-bottom: 0;
    }
  }
}

.uk-text-muted {
  color: $grey-color !important;

  a {
    color: $grey-color;
    text-decoration: underline;
  }
}

