$primary-color: #000;
$secondary-color: #9BB5D5;
$tertiary-color: #9BBB59;
$light-text: #8B8C8E;

$rounding: 5px;

@mixin transition($type) {
    transition: $type 0.2s ease-in-out;
    -moz-transition: $type 0.2s ease-in-out;
    -webkit-transition: $type 0.2s ease-in-out;
}
